<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringaschool.outingapi2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EscapeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.EventActivity">
            </meta-data>
        </activity>
        <activity android:name=".SavedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.SavedActivity">
            </meta-data>
        </activity>
        <activity android:name=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.SearchActivity">
            </meta-data>
        </activity>
        <activity android:name=".ApiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.ApiActivity">
            </meta-data>
        </activity>
        <activity android:name=".EventInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moringaschool.outingapi2.EventInfoActivity">
            </meta-data>
        </activity>
    </application>

</manifest>